.panel-primary {
  background: #337ab7;
  padding: 25px;
  color: #f5f6f7;
  border: 1px solid #444;
}

.card {
  background: background: lightgrey;
  ;
  margin: 15px 0;
  padding: 15px;
}

.card2 {
  background: #f5f6f7;
  margin: 15px 0;
  padding: 15px;
}

img {
  vertical-align: middle;
  width: 100%;
}

.jumbotron {
  background: lightgrey;
  text-shadow: 1px 0 0 #000;
  color: #337ab7;
}

.btn {
  background: lightgrey;
}

.h3title {
  text-transform: uppercase;
}
